.textCSS table{background:#fff;margin-bottom:1.25rem;table-layout:fixed}
.textCSS table caption{background:transparent;color:#222;font-size:1rem;font-weight:bold}
.textCSS table thead{background:#f5f5f5}
.textCSS table thead tr th,.textCSS table thead tr td{color:#222;font-size:.875rem;font-weight:600;padding:.5rem .625rem .625rem}
.textCSS table tfoot{background:#f5f5f5}
.textCSS table tfoot tr th,.textCSS table tfoot tr td{color:#222;font-size:.875rem;font-weight:600;padding:.5rem .625rem .625rem}
.textCSS table tr th,.textCSS table tr td{color:#222;font-size:.875rem;padding:.5625rem .625rem;text-align:left}
.textCSS table tr.even,.textCSS table tr.alt,.textCSS table tr:nth-of-type(even){background:#f9f9f9}
.textCSS table{border-collapse:collapse;border-spacing:0}
.textCSS td,.textCSS th{padding:0}
.textCSS table thead tr th,.textCSS table tfoot tr th,.textCSS table tfoot tr td,.textCSS table tbody tr th,.textCSS table tbody tr td,.textCSS table tr td{display:table-cell;line-height:1.125rem;border:solid 1px #ddd}
*{-webkit-font-smoothing:antialiased}